---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ rosa_gitops_application_name }}
  namespace: {{ rosa_gitops_namespace }}
spec:
  project: default

  source:
    repoURL: "{{ rosa_gitops_repository_url }}"
    targetRevision: "{{ rosa_gitops_repository_revision }}"
    path: "{{ rosa_gitops_repository_path }}"

  destination:
    server: "{{ rosa_gitops_destination_server }}"
    namespace: "{{ rosa_gitops_target_namespace }}"

  syncPolicy:
{% if rosa_gitops_automated_sync | bool %}
    automated:
      prune: true
      selfHeal: true
{% endif %}
    syncOptions:
      - ApplyOutOfSyncOnly=true

  retry:
    limit: 5
    backoff:
      duration: 5s
      factor: 2
      maxDuration: 1m
