---
apiVersion: v1
kind: Secret
metadata:
  name: {{ rosa_gitops_repository_secret_name }}
  namespace: {{ rosa_gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: "{{ rosa_gitops_repository_url }}"
  sshPrivateKey: |
{{ rosa_gitops_repository_private_key | indent(4, true) }}
